body{
    margin: 0;
    font-family: Arial, sans-serif;
}
header{
    background-color: rgb(5, 176, 255);
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
}
header img{
    height: 60px;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 2;
    
}
header h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 60px;
    z-index: 1;
    white-space: nowrap;
    max-width: calc(100% - 240px);
    overflow: hidden;
    text-overflow: ellipsis;
}
header .hyperlinks{
    font: bold;
    gap: 16px;
    display: flex;
    margin-left: 12px;
    align-items: center;
    z-index: 2;
}
header .hamburger{
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: auto;
    z-index: 3;
}
header .hamburger span{
    display: block;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}
header .menu{
    display: none;
    background: #06b0ff;
    position: absolute;
    top: 70px;
    right: 0;
    width: 300px;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    border-bottom: 1px solid hsl(216, 100%, 53%)
}
.menu a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}
.menu a:hover{
    background: #555;
}
.submenu{
    display: none;
    background: #555;
}
.has-submenu > a::after{
    content: "";
}
.menu.open{
    display: block;
}
.has-submenu.open > .submenu{
    display: block;
}
.main{
    margin: 10px;
    max-width: 1300px;
}
.main h2{
    font-size: 30px;
    margin-left: 5px;
    color: #000000;
    margin-bottom: 0;
}
.main hr{
    border: none;
    height: 2px;
    background-color: #0533ca;
    margin: 0 5px;
}
.main h3{
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}
.main p{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.main h4{
    margin-left: 20px;
}
.Merkkasten{
    background-color: rgba(255, 0, 0, 0.747);
    border-radius: 12px;
    border-color: #000000;
    border-width: 3px;
    border-style: solid;
    padding: 3px;
    padding-left: 5px;
    font-style: italic;
}
.OperatorTabelle-I{
    border-collapse: collapse;
    width: 60%;
}
.OperatorTabelle-I th,
.OperatorTabelle-I td{
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

.OperatorTabelle-I th{
    background-color: #eee;
}
@media (max-width: 800px){
    header h1{
        font-size: 32px;
        max-width: calc(100% - 120px);
    }
    header .hyperlinks{
        display: none;
    }
}