body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fafafa;
  color: #222;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6600;
  padding: 10px 20px;
}

.beispiel-box {
  padding: 8px 12px;
  margin-top: 6px;
}

.sort-buttons button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.logo {
  height: 40px;
}

.Header {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

main {
  max-width: 800px;
  margin: auto;
}

h1 {
  margin: 0;
  font-size: 1.6rem;
}

div a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

div a:hover {
  text-decoration: underline;
}

.menu {
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

.HTML {
  color: white;
  font-weight: bold;
  margin-left: 15%;
}

h2 {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
  padding-bottom: 5px;
}

.code {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  font-family: Consolas, monospace;
  white-space: pre-wrap;
}
.erkl채rung {
  margin-top: 20px;
  background-color: #fdf7f2;
  border: 1px solid #ffcc99;
  padding: 15px;
  border-radius: 6px;
}

.erkl채rung h3 {
  color: #ff6600;
  margin-top: 0;
}

.erkl채rung ul {
  list-style-type: none;
  padding: 0;
}

.erkl채rung li {
  margin-bottom: 8px;
  
}

.menu {
  font-size: 2rem;
  cursor: pointer;
  color: white;
  display: none; 
}

.mobile-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1000;
}

.mobile-menu a {
  color: #ff6600;
  text-decoration: none;
  padding: 8px 12px;
  font-weight: bold;
}

.mobile-menu a:hover {
  background-color: #ffe1cc;
  border-radius: 5px;
}

.hidden {
  display: none;
}

@media (max-width: 800px) {
  .Header {
    display: none;
  }

  .menu {
    display: block;
  }
}